MC_HOST=play.donutsmp.net
MC_PORT=25565
MC_USERNAME=your-microsoft-account@email.com
MC_AUTH=microsoft
MC_VERSION=1.21.11

PORT=3000
HOST=0.0.0.0

# Staff dashboard
STAFF_EMAIL=admin123@gmail.com
STAFF_PASSWORD=admin123123123@@

# VPN / proxy blocker
# 1 = enabled, 0 = disabled
VPN_BLOCKER=1
# Get a ProxyCheck API key and put it here for live VPN/proxy detection.
VPN_BLOCKER_API_KEY=
